# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
yarn.lock
package.json
/codeblue/node_modules
/codeblue/.pnp
/codeblue/.pnp.js

# testing
/codeblue/coverage

# production
/codeblue/build

# misc
/codeblue/.DS_Store
/codeblue/.env.local
/codeblue/.env.development.local
/codeblue/.env.test.local
/codeblue/.env.production.local

/codeblue/npm-debug.log*
/codeblue/yarn-debug.log*
/codeblue/yarn-error.log*
